@{
    ViewData["Title"] = "Convertor";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS_HTML"></script>

<div class="container-fluid d-flex justify-content-center align-items-center full-height">
    <div class="bordered-box">

        <h1 class="text-center mb-3 text-white">Celsius to Fahrenheit Convertor</h1>

        <div class="row">

            <!-- Form and Result Section -->

            <div class="col-md-8">
                <form method="post" action="/Home/ConvertCelsiusToFahrenheit">
                    <div class="form-group">
                        <label for="celsius" style="font-size: 1.5em">Please Enter °C:</label>
                        <input type="number" step="0.1" name="celsius" id="celsius" class="form-control" required />
                    </div> 
                    <div class="text-center mb-4">
                        <input type="submit" value="Convert" class="btn btn-outline-dark" />
                    </div>
                </form>

                @if (ViewData["Error"] != null)
                {
                    <div class="mt-4 alert alert-danger text-center">
                        <strong>@ViewData["Error"].ToString()</strong>
                    </div>
                }

                @if (ViewData["Result"] != null)
                {
                    <div class="mt-4 alert alert-success text-center">
                        <strong>@ViewData["Result"].ToString()</strong>
                        <br>
                        <br>
                        <span>@ViewData["Formula"]</span>
                    </div>
                }
            </div>

            <!-- Thermometer Section -->

            <div class="col-md-4 d-flex align-items-center">
                    <div class="thermometer">
                        <div class="thermometer__inner">
                            <div class="thermometer__title">°C</div>
                            <div class="thermometer__title">°F</div>
                            <div class="thermometer__c">
                                <div class="thermometer__label">50</div>
                                <div class="thermometer__label">40</div>
                                <div class="thermometer__label">30</div>
                                <div class="thermometer__label">20</div>
                                <div class="thermometer__label">10</div>
                                <div class="thermometer__label">0</div>
                                <div class="thermometer__label">-10</div>
                                <div class="thermometer__label">-20</div>
                                <div class="thermometer__label">-30</div>
                                <div class="thermometer__label">-40</div>
                            </div>
                            <div id="temp-val" class="thermometer__tube" data-c="0" data-f="32" title="0°C, 32°F">
                                <div id="temp-fill" class="thermometer__mercury"></div>
                                <div class="thermometer__ring"></div>
                                <div class="thermometer__ring"></div>
                            </div>
                            <div class="thermometer__f">
                                <div class="thermometer__label">120</div>
                                <div class="thermometer__label">100</div>
                                <div class="thermometer__label">80</div>
                                <div class="thermometer__label">60</div>
                                <div class="thermometer__label">40</div>
                                <div class="thermometer__label">20</div>
                                <div class="thermometer__label">0</div>
                                <div class="thermometer__label">-20</div>
                                <div class="thermometer__label">-40</div>
                            </div>
                            <div class="thermometer__bulb"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<script>
    function setThermometerTemperature(celsiusTemp) {
        let tempVal = document.getElementById("temp-val");
        let tempFill = document.getElementById("temp-fill");
        let tempF = nearest10th(CToF(celsiusTemp));

        tempVal.setAttribute("data-c", celsiusTemp);
        tempVal.setAttribute("data-f", tempF);

        let scaleY = 0,
            scaleYMax = 0.995;
        let minTempC = -53, // Changed to min value of 
            maxTempC = 70; // Changed to max value of 70
        scaleY += (celsiusTemp - minTempC) / (Math.abs(minTempC) + maxTempC);

        if (scaleY > scaleYMax)
            scaleY = scaleYMax;
        else if (scaleY < 0)
            scaleY = 0;

        tempFill.style.transform = `scaleY(${scaleY})`;
        tempVal.title = `${celsiusTemp}°C, ${tempF}°F`;
    }

    // This will update the thermometer based on your conversion result
    @if (ViewData["Result"] != null)
    {
        <text>
            setThermometerTemperature(@ViewData["CelsiusTemperature"]);
         </text>
    }

        // Convert Celsius to Fahrenheit
        function CToF(celsius) {
            return (celsius * 9 / 5) + 32;
        }

    // Round to the nearest 10th
    function nearest10th(n) {
        return Math.round(n * 10) / 10;
    }


</script>
