@{
    ViewData["Title"] = "Home Page";
}



<div class="intro text-white">
    <h1 class="display-4 intro-item">Welcome</h1>
    <hr class="intro-item">
    <p class="intro-item">
        Explore my Celsius to Fahrenheit Converter, developed using the ASP.NET MVC framework. The application has a clear interface,
        demonstrates the conversion using the MathJax library to display the formula,
        enhanced with Bootstrap, and offers visual feedback via an interactive thermometer.
    </p>
    <button class="btn btn-outline-light"  onclick="window.location.href='/Home/Converter'">Try out the Converter</button>
</div>

