html {
    font-size: 12px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

footer {
    background-color: white;
    margin-top: auto;
}

.lable{
    font-size: 1.8em;
    padding: 10px;
}

.intro {
    text-align: left;
}

#celsius.form-control {
    width: 60%;
    font-size : 1.8rem;
}

.btn.btn-outline-light {
    font-size: 125%;
    padding: 10px 20px;
}

.display-4.intro-item {
    font-size: 400%
}

.intro-item {
    font-size: 250%;
    margin: 40px 0;
}

.row {
    border-radius: 7px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    background: rgba(255, 255, 255, .85)
}


/* Custom style for centering the bordered box */

.full-height {
    min-height: 90vh;
    padding-bottom: 60px;
}

.bordered-box {
    width: 100%;
    max-width: 1000px; /* Decreased max-width from 1200px to 1000px */
    border: 1px solid #ddd;
    border-radius: 7px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem; /* Decreased font size from 1.5rem to 1.2rem */
    padding: 20px 50px 50px 50px; /* Combined padding values */
    background: rgba(255, 255, 255, 0.5)
}

/* Thermometer CSS */
.thermometer, .thermometer__tube {
    position: relative;
}

.thermometer {
    background: linear-gradient(-45deg, #f3005f, #563ce7, #23a6d5, #23d5ab);
    border-radius: 2em;
    box-shadow: 0.2em 0 0.1em hsl(223,10%,45%) inset, 0 -0.2em 0.1em hsl(223,10%,45%) inset, -0.1em 0 0 hsl(223,10%,80%) inset, 0 0.1em 0 hsl(223,10%,80%) inset;
    margin: auto;
    width: 10em;
    height: 30em;
}

    .thermometer:before, .thermometer__inner, .thermometer__ring, .thermometer__tube:before {
        position: absolute;
    }

    .thermometer:before, .thermometer__inner {
        left: 1em;
    }

    .thermometer:before, .thermometer__tube:before {
        content: "";
        display: block;
    }

    .thermometer:before {
        background-image: linear-gradient(hsl(223,10%,90%),hsl(223,10%,80%));
        border-radius: 1.2em;
        box-shadow: -0.1em 0.1em 0.1em hsl(223,10%,55%) inset, 0.2em -0.2em 0.4em hsl(223,10%,100%) inset, -0.3em 0.2em 0.4em hsl(223,10%,55%) inset, 0.1em -0.1em 0.1em hsl(223,10%,70%), 0.5em -0.5em 0.3em hsl(223,10%,65%), 0 0 0.4em 0.4em hsl(223,10%,100%);
        top: 1em;
        width: calc(100% - 2em);
        height: calc(100% - 2em);
    }

.thermometer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    top: 2em;
    text-align: center;
    width: calc(100% - 2em);
    height: calc(100% - 4em);
}

.thermometer__c, .thermometer__f {
    background-image: linear-gradient(hsl(0,0%,0%) 0.1em,hsla(0,0%,0%,0) 0.1em), linear-gradient(hsl(0,0%,0%) 0.1em,hsla(0,0%,0%,0) 0.1em);
    background-repeat: repeat-y;
    flex-basis: calc(50% - 0.75em);
    margin-bottom: 0.125em;
}

.thermometer__c {
    background-position: 100% 0;
    background-size: 0.8em 1em, 0.5em 0.2em;
    padding-right: 0.5em;
    padding-top: 1.25em;
    height: 22em;
}

    .thermometer__c .thermometer__label {
        height: 2em;
    }

.thermometer__f {
    background-size: 0.8em 1.22em, 0.5em 0.244em;
    padding-top: 0.4em;
    padding-left: 0.25em;
    height: 22.5em;
}

    .thermometer__f .thermometer__label {
        height: 2.44em;
    }

.thermometer__mercury, .thermometer__tube:before {
    height: 100%;
}

.thermometer__mercury {
    background-color: hsl(355,85%,40%);
    box-shadow: -0.1em 0.1em 0.25em hsla(355,85%,40%,0.7), 0.05em 0 0 hsla(0,0%,100%,0.5) inset;
    width: 100%;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: transform 0.3s ease-in-out;
}

.thermometer__ring {
    border-radius: 50% 50% 0 0;
    box-shadow: 0 0.05em 0 0.05em hsla(223,10%,30%,0.4) inset;
    top: 0.6em;
    left: calc(50% - 0.3em);
    width: 0.6em;
    height: 0.2em;
}

    .thermometer__ring + .thermometer__ring {
        border-radius: 0 0 50% 50%;
        box-shadow: 0 -0.05em 0 0.05em hsla(223,10%,30%,0.4) inset;
        top: 20.2em;
    }

.thermometer__title {
    flex-basis: 50%;
}

.thermometer__tube, .thermometer__tube:before {
    border-radius: 0.3em 0.3em 0 0;
}

.thermometer__tube {
    box-shadow: -0.1em 0.1em 0.25em hsla(0,0%,0%,0.3), 0.05em 0 0 hsla(0,0%,100%,0.5) inset, 0.1em 0 0.1em hsla(0,0%,0%,0.2) inset;
    flex-basis: 0.3em;
}

    .thermometer__tube:before {
        background: linear-gradient(hsla(0,0%,100%,0.5),hsla(0,0%,100%,0)) 100% 0 / 25% 100% no-repeat;
        box-shadow: -0.05em 0 0.05em hsla(0,0%,0%,0.2) inset;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

.thermometer__bulb {
    background-image: radial-gradient(100% 100% at 65% 35%,hsl(355,85%,55%) 12%,hsl(355,85%,40%) 13%,hsl(355,85%,30%));
    border-radius: 50%;
    box-shadow: 0 -0.25em 0.25em hsla(0,85%,20%,0.7), -0.35em 0.35em 0.5em hsl(355,20%,50%), 0 0 0 0.1em hsl(223,10%,60%), 0 0 0 0.15em hsl(223,10%,90%), 0 0 0 0.2em hsl(223,10%,30%), 0 0 0 0.05em hsl(355,85%,30%) inset, -0.1em 0.1em 0 hsl(355,85%,43%) inset;
    margin: auto;
    width: 2em;
    height: 2em;
}
